.data-section {
  flex: 3;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1.5rem;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  h3 {
    span {
      font-size: 1rem;
      font-weight: 200;
    }

    .span-warn {
      color: red;
    }
  }

  .data-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  textarea {
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid #cccccc;
    border-radius: 4px;
    transition: border-color 0.3s;

    &:focus {
      border-color: #607d8a;
      outline: none;
      box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.25);
    }
  }

  .textarea-warn {
    border: 1px solid red;

    &:focus {
      border-color: red;
      outline: none;
      box-shadow: 0 0 0 2px rgba(255, 0, 0, 0.25);
    }
  }

  input[type='text'] {
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid #cccccc;
    border-radius: 4px;
    transition: border-color 0.3s;

    &:focus {
      border-color: #607d8a;
      outline: none;
      box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.25);
    }
  }

  button {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    color: #ffffff;
    background-color: #0090aa;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: fit-content;
    max-width: 200px;
    align-self: flex-start;

    &:hover {
      background-color: #006374;
    }

    &:disabled {
      background-color: #cccccc;
      cursor: not-allowed;
    }

    &:not(:last-child) {
      margin-bottom: 0.5rem;
    }
  }

  button[type='button'] {
    background-color: #6c757d;

    &:hover {
      background-color: #5a6268;
    }
  }
}
