.tooltip {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    margin-left: 5px;
    width: 15px;
  }

  .tooltiptext {
    visibility: hidden;
    width: 11rem;
    background-color: rgba(96, 125, 138, 0.8);
    color: #ffffff;
    text-align: center;
    border-radius: 6px;
    padding: 3px;
    font-size: 0.875rem;

    position: absolute;
    top: 0px;
    left: 25px;
    z-index: 10;
  }

  &:hover .tooltiptext {
    visibility: visible;
  }
}
